<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddRestaurantServlet</servlet-name>
  	<display-name>AddRestaurantServlet</display-name>
  	<description></description>
  	<servlet-class>zuci.rms.controller.AddRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddRestaurantServlet</servlet-name>
  	<url-pattern>/addrestaurant</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ShowRestaurantServlet</servlet-name>
  	<display-name>ShowRestaurantServlet</display-name>
  	<description></description>
  	<servlet-class>zuci.rms.controller.ShowRestaurantServlet</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>SearchRestaurantServlet</servlet-name>
   	<display-name>SearchRestaurantServlet</display-name>
   	<description></description>
   	<servlet-class>zuci.rms.controller.SearchRestaurantServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>ShowRestaurantServlet</servlet-name>
  	<url-pattern>/ShowRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchRestaurantServlet</servlet-name>
  	<url-pattern>/SearchRestaurantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
   	<servlet-name>LogoutServlet</servlet-name>
   	<display-name>LogoutServlet</display-name>
   	<description></description>
   	<servlet-class>zuci.rms.controller.LogoutServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
